@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/stars-472968_1920.jpg);
    background-repeat: no-repeat;

    background-size: cover;
}

a, button, input {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    font-size: 36px;
    color: #FFF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.search-box {
    width: 410px;
    height: 46px;
    background: linear-gradient(90.28deg, rgba(255, 255, 255, 0.2) 16.53%, rgba(255, 255, 255, 0.04) 69.26%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    display: flex;
}   

.search-btn {
	color: #fff;
	width: 10px;
	height: 43px;
	display: flex;	
	justify-content: center;
	align-items: center;

}

.search-txt{
    width: 360px;
    height: 43px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #FFF;
    margin-left: 20px;
}

.header_item {
    padding: 0px 0px 0px 35px;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.headerButton {
    padding: 0px 0px 0px 35px;
}

.headerButton:hover {
    padding: 0px 0px 0px 35px;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

main {
    display: flex;
    justify-content: center;
	align-items: center;
}

.main-text {
    width: 500px;
    height: 250px;
    font-family: 'Poiret One';

    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.rocket {
    transform: rotate(38deg);
    width: 600px;
    height: 800px;
}

.star {
    display: flex;
    justify-content: center;
	align-items: center;
}

.star-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 250px;
    font-family: 'Poiret One';

    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.sun {
    width: 550px;
    height: 535px;

}

.letsgo{

    width: 300px;
    height: 55px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 100px;

}

.lgButton {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;

    color: #FFFFFF;

    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

.lgButton:active {

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;
    text-shadow: 0 0 5px #0D0455,
    0 0 10px #0D0455,
    0 0 15px #0D0455,
    0 0 20px #0D0455;
}

.earthclass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.earth-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 250px;
    font-family: 'Poiret One';

    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.letsgo2{

    width: 300px;
    height: 55px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 100px;

}

.lgButton2 {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;

    color: #FFFFFF;

    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

.lgButton2:active {

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;
    text-shadow: 0 0 5px #0D0455,
    0 0 10px #0D0455,
    0 0 15px #0D0455,
    0 0 20px #0D0455;
}

.earth {
    width: 500px;
    height: 586px;
    padding-left: 25px;
    padding-right: 25px;
}

.ending {
    display: flex;
    align-items: center;
    justify-content: center;
}

.habble {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.habble-text {

    width: 400px;
    height: 250px;
    font-family: 'Poiret One';

    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.photo{

    width: 200px;
    height: 55px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 100px;

}

.photoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;

    color: #FFFFFF;

    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

.photoButton:active {

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;
    text-shadow: 0 0 5px #0D0455,
    0 0 10px #0D0455,
    0 0 15px #0D0455,
    0 0 20px #0D0455;
}

.man {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.test-text {
    width: 400px;
    height: 250px;
    font-family: 'Poiret One';

    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.test{

    width: 200px;
    height: 55px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 100px;

}

.testButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;

    color: #FFFFFF;

    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

.testButton:active {

    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 42px;
    text-shadow: 0 0 5px #0D0455,
    0 0 10px #0D0455,
    0 0 15px #0D0455,
    0 0 20px #0D0455;
}

.testphoto {
    width: 474px;
    height: 380px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.habblephoto {
    width: 524px;
    height: 380px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.footer {
    
    background-image: url(img/foot.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logofoot {
    padding-left: 80px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    width: 290px;
    height: 85px;
    padding-right: 80px;
}

.facebook:hover {
    background-image: url(img/fb2.png);
    background-size: cover;
}

.instagram:hover {
    background-image: url(img/ins2.png);
    background-size: cover;
}

.pinterest:hover {
    background-image: url(img/pin2.png);
    background-size: cover;
}